/* Landing Section (Start) */
.landing .landing-image{
    background-image: url("../../images/landing-image2.jpg");
    background-size: cover;
    background-position: center;
    height: calc(100vh - 56px);
}
.landing .content-side {
    max-width: 80%;
}
.landing-header {
    /* color: #00999d; */
    font-size: 40px;
}
.landing .main-p {
    font-weight: 700;
    /* color: #212427; */
    color: whitesmoke;
}
.landing .academies-link {
    background-color: #d87c2b;
    padding: 8px 25px;
    border-radius: 5px;
}
.landing .academies-link:hover {
    background-color: #bc6c25;
}
/* Landing Section (End) */
/* Academies Section (Start) */
.academy-item:hover {
    box-shadow: -2px 0.4rem 1.5rem rgba(0,0,0,0.25) !important;
    margin-top: -10px;
}
/* Academies Section (End) */