/*
Colors Can Be Used
-- #2890a7 (light blue)
-- #303030 (dark)
-- #f14833 (red)

Colors From Coolors Website :
-- #606c38 (light green)
-- #283618 (dark green)
-- #fefae0 (sugar)
-- #dda15e (light brown)
-- #bc6c25 (honey)
*/

/* Global Styles (Start) */
* {
  direction: rtl;
  transition: 0.3s;
}
:root {
  --header-back-color: #1b1f29;
  --header-font-color: #ededed;
  --hover-back-color: #3031427d;
}
* {
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none !important;
  color: inherit;
}
body {
  background-color: #f2f8f8;
  font-family: "Cairo";
}
.container {
  max-width: 100% !important;
  padding: 0 60px ;
}
@media (max-width:770px) {
  .container {
    padding: 0 30px;
  }
}
@media (max-width:540px) {
  .container {
    padding: 10px;
  }
}
.pointer {
  cursor: pointer;
}
.transition {
  transition: 0.3s;
}
.styled-hr {
  width: 85px;
  height: 4px !important;
  color: #dda15e;
  opacity: 1;
}
/* Global Styles (End) */

/* Header (Start) */
header {
  background-color: var(--header-back-color);
}
header nav ul li a {
  display: block;
  color: var(--header-font-color);
  padding: 8px 15px;
  border-radius: 4px;
}
header nav ul a.active {
  background-color: var(--hover-back-color);
  color: var(--header-font-color);
}
header nav a:hover {
  background-color: var(--hover-back-color);
  color: var(--header-font-color);
}
header img {
  width: 40px;
  height: 40px;
}
header .toggle {
  width: 25px;
  height: 100%;
}
header .toggle span{
  transform-origin: right center;
  height: 2px;
  border-radius: 10px;
}
header .toggle span:not(:last-child){
  margin-bottom: 6px;
}
header .toggle.clicked span:nth-child(2){
  opacity: 0;
}
header .toggle.clicked span:first-child, header .toggle.clicked span:last-child{
  width: 28px!important;
}
header .toggle.clicked span:not(:last-child){
  margin-bottom: 8px;
}
header .toggle.toggle.clicked span:first-child{
  transform: rotateZ(-45deg);
}
header .toggle.toggle.clicked span:last-child{
  transform: rotateZ(+45deg);
}

@media (max-width:767px) {
  header .links {
    position: absolute;
    width: 100%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    top: 100%;
    left: 0;
    background-color: var(--header-back-color);
  }
  header .links.stretched {
    height: 232px;
    opacity: 1;
  }
} 
/* Header (End) */
