/*
Colors Can Be Used
-- #2890a7 (light blue)
-- #303030 (dark)
-- #f14833 (red)

Colors From Coolors Website :
-- #606c38 (light green)
-- #283618 (dark green)
-- #fefae0 (sugar)
-- #dda15e (light brown)
-- #bc6c25 (honey)
*/

/* Global Styles (Start) */
:root {
  --header-back-color: #1b1f29;
  --header-font-color: #ededed;
  --hover-back-color: #3031427d;
  --primary-color: #00999d;
  --secondary-color: #c49f55;
}
* {
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none !important;
  color: inherit;
}
body {
  background-color: #f2f8f8;
  font-family: "Cairo";
}
.container {
  max-width: 100% !important;
  padding: 0 5px;

}
@media (min-width:576px) {
  .container {
    padding: 0 20px;
  }
}
@media (max-width:767px) {

}
@media (min-width: 992px) {
  
}
@media (min-width: 1200px) {
  
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px !important;
  }
}
.pointer {
  cursor: pointer;
}
.transition {
  transition: 0.3s;
}
.styled-hr {
  width: 45px;
  height: 2px !important;
  color: transparent;
  opacity: 1;
  margin: 10px auto;
}
.section-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}
.primary-color {
  color: var(--primary-color);
}
.secondary-color {
  color: var(--secondary-color);
}
.primary-bgcolor {
  background-color: var(--primary-color);
}
.secondary-bgcolor {
  background-color: var(--secondary-color);
}
.primary-hover-bgcolor:hover {
  background-color: var(--primary-color) !important;
}
.secondary-hover-bgcolor:hover {
  background-color: var(--secondary-color) !important;
}
.white-hover-color:hover {
  color: white;
}
.row {
  --bs-gutter-y: 1rem;
}
.fit-content {
  width: fit-content;
}
.overlay::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000070;
}
.static-button {
  background-color: #d87c2b;
  padding: 8px 25px;
  border-radius: 5px;
}
.static-button:hover {
    background-color: #bc6c25;
}

.section {
  padding: 50px 0 ;
}
.gray-back {
  background-color: #f0f2f5;
}

.error {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Global Styles (End) */

/* Header (Start) */
header {
  background-color: var(--header-back-color);
}
header nav ul li a {
  display: block;
  color: var(--header-font-color);
  padding: 8px 15px;
  border-radius: 4px;
}
header nav ul a.active {
  background-color: var(--hover-back-color);
  color: var(--header-font-color);
}
header nav a:hover {
  background-color: var(--hover-back-color);
  color: var(--header-font-color);
}
header img {
  width: 40px;
  height: 40px;
}

.toggle span{
  transform-origin: right center;
  height: 2px;
  border-radius: 10px;
}
.toggle span:not(:last-child){
  margin-bottom: 6px;
}
.toggle.clicked span:nth-child(2){
  opacity: 0;
}
.toggle.clicked span:first-child, header .toggle.clicked span:last-child{
  width: 28px!important;
}
.toggle.clicked span:not(:last-child){
  margin-bottom: 8px;
}
.toggle.toggle.clicked span:first-child{
  transform: rotateZ(-45deg);
}
.toggle.toggle.clicked span:last-child{
  transform: rotateZ(+45deg);
}
@media (max-width:767px) {
  header .links {
    position: absolute;
    width: 100%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    top: 100%;
    left: 0;
    background-color: var(--header-back-color);
    z-index: -2;
  }
  header .links:not(.stretched){
    padding: 0!important;
  }
  header .links.stretched {
    height: 232px;
    opacity: 1;
  }

} 
/* Header (End) */
